<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benoitquenaudon.tvfoot.red">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <application
      android:name=".RedApp"
      android:allowBackup="true"
      android:icon="@drawable/app_icon_384"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/Theme.TvFoot">
    <activity
        android:name=".app.domain.main.MainActivity"
        android:noHistory="true"
        android:theme="@android:style/Theme.NoDisplay"/>

    <activity-alias
        android:name=".Launcher"
        android:targetActivity=".app.domain.main.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity-alias>

    <activity
        android:name=".app.domain.matches.MatchesActivity"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/Theme.TvFoot.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:host="tvfoot"/>
        <data android:scheme="https"/>
        <data android:scheme="http"/>
        <data android:scheme="tvfoot"/>
        <data android:path="/"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".app.domain.match.MatchActivity"
        android:label="@string/match_detail_activity_label"
        android:parentActivityName=".app.domain.matches.MatchesActivity"
        android:theme="@style/Theme.TvFoot.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:host="tvfoot"/>
        <data android:scheme="https"/>
        <data android:scheme="http"/>
        <data android:scheme="tvfoot"/>
        <data android:pathPrefix="/match/"/>
      </intent-filter>

      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".app.domain.matches.MatchesActivity"/>
    </activity>
    <activity
        android:name=".app.domain.settings.SettingsActivity"
        android:label="@string/title_activity_settings"
        android:parentActivityName=".app.domain.matches.MatchesActivity"
        android:theme="@style/Theme.TvFoot.SettingsActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:host="tvfoot"/>
        <data android:scheme="https"/>
        <data android:scheme="http"/>
        <data android:scheme="tvfoot"/>
        <data android:path="/settings"/>
        <data android:pathPrefix="/settings/"/>
      </intent-filter>

      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".app.domain.matches.MatchesActivity"/>
    </activity>
    <activity
        android:name=".app.domain.libraries.LibrariesActivity"
        android:theme="@style/Theme.TvFoot.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:host="tvfoot"/>
        <data android:scheme="https"/>
        <data android:scheme="http"/>
        <data android:scheme="tvfoot"/>
        <data android:path="/oss_licenses"/>
        <data android:pathPrefix="/oss_licenses/"/>
      </intent-filter>
    </activity>

    <receiver
        android:name=".app.domain.match.job.OnBootReceiver"
        android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>

    <service android:name=".app.domain.match.job.MatchReminderService"/>

    <service
        android:name=".app.domain.match.job.MatchNotificationSchedulerService"
        android:exported="false"
        android:permission="android.permission.BIND_JOB_SERVICE"/>
  </application>

</manifest>