<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benoitquenaudon.tvfoot.red">

  <application>
    <meta-data
        android:name="firebase_analytics_collection_deactivated"
        android:value="true"/>
    <meta-data
        android:name="firebase_performance_collection_deactivated"
        android:value="true"/>
  </application>
</manifest>